@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html {
  font-size: 24px;
}

body {
  background: linear-gradient(to bottom right, Aquamarine, MediumSeaGreen) fixed;;
}

#logo {
  font-family: 'Indie Flower', sans-serif;
  margin: 1rem 0;
  text-align: center;
}

#logoPen {
  font-family: 'Sacramento', cursive, sans-serif;
  font-weight: bold;
}

#screens > div {
  text-align: center;
  display: none;
}

#screens > div > * {
  margin-left: auto;
  margin-right: auto;
}

#screens > div.activeScreen {
  display: block;
}

#codeInput {
  /* https://www.the-art-of-web.com/html/input-field-uppercase/ */
  text-transform: uppercase;
}

#codeInput, #submitJoinCodeButton {
  display: block;
  margin-bottom: 0.5rem;
}

.ratio4x3 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.ratioContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#drawingBoardOuter, #finalDrawingOuter {
  max-width: 640px;
  max-height: 100vh;
  background: white;
  margin-block-end: 1rem;
}

#drawingBoard, #finalScribble, #finalExpension {
  user-select: none;
  width: inherit;
  height: inherit;
}

#finalScribble, #finalExpension {
  display: none;
}

#finalScribble.finalDrawingActive, #finalExpension.finalDrawingActive {
  display: block;
}

#finalScribbleOrExpensionForm {
  padding-left: 0;
}

#finalScribbleOrExpension {
  float: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#finalScribbleOrExpensionForm > label, #playAgainCheckboxForm > label {
  user-select: none;
}

#playAgainCheckboxForm {
  width: fit-content;
}

.smallItalics {
  font-size: 0.75rem;
  font-style: italic;
}

@media only screen and (max-height: 720px) {
  html {
    font-size: 18px;
  }

  #logo {
    margin: 0.5rem 0 -0.5rem;
  }

  p, #drawingBoard, #finalScribble, #finalExpension {
    margin-block-end: 0.25rem;
  }
} 
