body {
  background-color: aquamarine;
}

#screens > div {
  display: none;
}

#screens > div.activeScreen {
  display: block;
}

#codeInput {
  text-transform: uppercase;
}

#drawingBoard {
  user-select: none;
  background-color: #fff;
}
