@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html {
  font-size: 24px;
}

body {
  background: linear-gradient(to bottom right, Aquamarine, MediumSeaGreen) fixed;;
}

#logo {
  font-family: 'Indie Flower', sans-serif;
  margin: 1rem 0;
  text-align: center;
}

#logoPen {
  font-family: 'Sacramento', cursive, sans-serif;
  font-weight: bold;
}

#screens > div {
  text-align: center;
  display: none;
}

#screens > div > * {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#screens > div.activeScreen {
  display: block;
}

#codeInput {
  /* https://www.the-art-of-web.com/html/input-field-uppercase/ */
  text-transform: uppercase;
}

#codeInput, #submitJoinCodeButton {
  display: block;
  margin-bottom: 0.5rem;
}

#drawingBoard {
  user-select: none;
}

#drawingBoard, #finalScribble, #finalExpension {
  margin-block-end: 1rem;
}

#finalScribble, #finalExpension {
  display: none;
}

#drawingBoard, #finalScribble.finalDrawingActive, #finalExpension.finalDrawingActive {
  display: block;
  width: 640px;
  height: 480px;
  background: White;
}

#finalScribbleOrExpensionForm {
  padding-left: 0;
}

#finalScribbleOrExpension {
  float: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#finalScribbleOrExpensionForm > label, #playAgainCheckboxForm > label {
  user-select: none;
}

.smallItalics {
  font-size: 0.75rem;
  font-style: italic;
}
