body {
  background-color: aquamarine;
}

h1 {
  margin: 32px 0;
  text-align: center;
}

#screens > div {
  text-align: center;
  display: none;
}

#screens > div.activeScreen {
  display: block;
}

#codeInput {
  text-transform: uppercase;
}

#drawingBoard {
  user-select: none;
}

#drawingBoard, #finalDrawing {
  display: block;
  margin: 0 auto;
  margin-block-end: 16px;
}

#finalScribbleOrExpension {
  float: none;
  margin-left: 0;
}
